<template name="quickForm_varsa">
  {{#autoForm qfAutoFormContext}}
    {{> afQuickFields  template="varsa" input-col-class=inputClass label-class=labelClass id-prefix=idPrefix}}
    {{#if qfShouldRenderButton}}
    <div class="form-group">
      <div class="{{labelClass}}"></div>
      <div class="{{inputClass}}">
        <button class='btn btn-primary' type="submit" {{submitButtonAtts}}>
        {{#with ../atts.buttonContent}}
          {{this}}
        {{else}}
          Submit
        {{/with}}
        </button>
      </div>
    </div>
    {{/if}}
  {{/autoForm}}
</template>

<template name="quickForm_surveyInvite">
  {{#autoForm qfAutoFormContext}}
  {{! how do i customize afQuickFields for array fields  inner objects? }}
    {{> afQuickFields template="varsa" input-col-class=inputClass label-class=labelClass id-prefix=idPrefix}}
    {{#if qfShouldRenderButton}}
    <div class="form-group">
      <div class="{{labelClass}}"></div>
      <div class="{{inputClass}}">
        <button class='btn btn-primary' type="submit" {{submitButtonAtts}}>
        {{#with ../atts.buttonContent}}
          {{this}}
        {{else}}
          Submit
        {{/with}}
        </button>
      </div>
    </div>
    {{/if}}
  {{/autoForm}}
</template>

<template name="quickForm_editSurveyCalc">
  {{#autoForm qfAutoFormContext}}
  {{! how do i customize afQuickFields for array fields  inner objects? }}
    {{> afQuickFields template="varsa" input-col-class=inputClass label-class=labelClass id-prefix=idPrefix}}
    {{#if qfShouldRenderButton}}
    <div class="form-group">
      <div class="{{labelClass}}"></div>
      <div class="{{inputClass}}">
        <button class='btn btn-primary' type="submit" {{submitButtonAtts}}>
        {{#with ../atts.buttonContent}}
          {{this}}
        {{else}}
          Submit
        {{/with}}
        </button>
      </div>
    </div>
    {{/if}}
  {{/autoForm}}
</template>

<template name="afFormGroup_varsa">
  {{#if isNotInnerField this.atts.name}}
  {{! render as div structure}}
    <div class="row form-group">
      <div class="col-sm-3">
        <label {{afFieldLabelAtts}}>{{#if this.labelText}}{{this.labelText}}{{else}}{{afFieldLabelText name=this.atts.name}}{{/if}}</label>
      </div>
      <div class="col-sm-9">
        {{> afFieldInput afFieldInputAtts}}
      </div>
    </div>
  {{else}}
  {{! render as a table cell for object/array fields}}
  <td>
    <div class="row">
     <div class="pull-left">{{{afFieldMessage name=this.atts.name}}}</div>
    </div>
    {{> afFieldInput afFieldInputAtts}}
  </td>
  {{/if}}
</template>

<template name="afObjectField_varsa">
      {{! might be missing some validation data here...}}
          {{> afQuickFields name=this.atts.name}}
</template>
<template name='quickForm_invite'>
  {{#autoForm qfAutoFormContext}}
    {{> afQuickFields input-col-class=inputClass label-class=labelClass id-prefix=idPrefix}}
    {{#if qfShouldRenderButton}}
    <div class="form-group">
      <div class="{{labelClass}}"></div>
      <div class="{{inputClass}}">
        <button class='btn btn-primary' type="submit" {{submitButtonAtts}}>
        {{#with ../atts.buttonContent}}
          {{this}}
        {{else}}
          Submit
        {{/with}}
        </button>
      </div>
    </div>
    {{/if}}
  {{/autoForm}}
</template>

<template name="afArrayField_varsa">
  <div class="form-group{{#if afFieldIsInvalid name=this.atts.name}} has-error{{/if}}">
    <label {{afFieldLabelAtts}}>{{afFieldLabelText name=this.atts.name}}</label>
      <div class="panel panel-default autoform-padding-fix">
        <table class="table col-sm-12">
          <thead>
            <tr>
              <th>&nbsp;</th>
              {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                {{#if equals this.index 0}}
                  {{#each afFieldNames name=this.name}}
                    <th>{{nameToColumn this}}</th>
                  {{/each}}
                {{/if}}
              {{/afEachArrayItem}}
            </tr>
          </thead>
          <tbody>
             {{#afEachArrayItem label=false name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                 <tr>   
                    <td>
                      {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
                        <button type="button" class="btn btn-primary autoform-remove-item pull-right"><span class="fa fa-close"></span></button>
                      {{/if}}
                    </td>
                    {{> afQuickField name=this.name label=false}}
                  </tr>
              {{/afEachArrayItem}}
          </tbody>
        </table>

        {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
        <button type="button" class="btn btn-primary autoform-add-item" data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}"><span class="fa fa-plus-square"></span></button>
        {{/if}}
        {{#if afFieldIsInvalid name=this.atts.name}}
          <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
        {{/if}}

      </div>
  </div>
</template>

<template name="afCheckbox_varsa">
  {{#if useLeftLabel}}
  {{! same as bootstrap, but we don't include the label because it appears in the left column}}
  <div class="">
    <input type="checkbox" value="true" {{attsPlusSpecialClass}} />
  </div>
  {{else}}
    <label>
      <input type="checkbox" value="true" {{atts}} />
      {{! this is a hackish workaround to the problem with paper template and checkboxes... }}
      {{#if isNotInnerField this.atts.name}}
        {{afFieldLabelText name=this.name label="" }}
      {{/if}}
    </label>
  {{/if}}
</template>