<template name="ModalCreateSurvey">
  <div class="modal fade stick-up" id="Modal_CreateSurvey" tabindex="-1" role="dialog" aria-labelledby="Modal_CreateSurvey" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header clearfix text-left m-b-20">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close fs-14"></i>
          </button>
          <h3>Create a new survey</h3>
          <p>First define basic parameters to issue a new survey, and optionally select from available surveys to use those questions. Templates do not require an issue date/interval. You may create templates based on templates.</p>
        </div>
        <div class="modal-body">
            <!-- select a survey to use... -->

             <div class="row form-group">
              <div class="col-sm-3">
                <label>Questions</label>
                <br/>
                <small>Select questions from available templates</small>
              </div>
              <div class="col-sm-9">
              <select class="form-control surveyTemplate">
                <option value="">None</option>
              {{#each getAvailableSurveyTemplates}}

                <option value="{{_id}}">{{title}} - {{ownerName}}</option>
              {{/each}}
              </select>

              </div>
            </div>
            {{>quickForm collection="VH.Survey" id="newSurvey" type="insert" omitFields="owner,organization,questions"}}


        </div>
		<a href="{{a}}" onClick="$('.modal').modal('hide')" class="btn btn-info">Close</a>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</template>
<template name="ModalCreateSurveyO">
  <div class="modal fade stick-up" id="Modal_CreateSurvey" tabindex="-1" role="dialog" aria-labelledby="Modal_CreateSurvey" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header clearfix text-left m-b-20">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close fs-14"></i>
          </button>
          <h3>Create a new survey</h3>
          <p>Begin the task of creating a questionner by filling out the form and entering least one question.</p>
        </div>
        <div class="modal-body">
            {{>quickForm collection="VH.Survey" id="newSurvey" type="insert" omitFields="owner,organization,questions"}}
        </div>
    <a href="{{a}}" onClick="$('.modal').modal('hide')" class="btn btn-info">Close</a>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</template>

<template name="ModalConnectFitnessDevice">
  <div class="modal fade stick-up" id="Modal_ConnectFitnessDevice" tabindex="-1" role="dialog" aria-labelledby="Modal_ConnectFitnessDevice" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header clearfix text-left m-b-20">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close fs-14"></i>
          </button>
          <h3>Connect health device</h3>
          <p>Connect your supported device.</p>
        </div>
        <div class="modal-body">
            <a class="btn btn-primary" href="/misfit">Connect misfit</a>
        </div>
        <a href="{{a}}" onClick="$('.modal').modal('hide')" class="btn btn-info">Close</a>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</template>

<template name="ModalAddInvitation">
  {{! do if selectedSurvey processing to autoSelect that survey to add .. do user check before reinsert to
      avoid selecting same user twice for survey only let providers do this?
   }}
  <div class="modal fade stick-up" id="Modal_AddInvitation" tabindex="-1" role="dialog" aria-labelledby="Modal_AddInvitation" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header clearfix text-left m-b-20">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close fs-14"></i>
          </button>
          <h3>Invite a user to take a survey.</h3>
        </div>
        <div class="modal-body">
          {{#if Template.subscriptionsReady}}
             {{#if selectedUser}}
              {{#if hasSurvey}}
                {{!  final invitation screen : select dates and press 'add' }}
                {{!- add user button  any additonal fields/pref here like text/phone alerts or let user decide }}
                {{#each getUsers}}
                  <h4>{{email}}</h4>
                {{/each}}
                  <h4>{{selectedSurveyTitle}}</h4>
                  <label>Start</label>
                  <input class="form-control inviteDate inviteStartDate" type="date"/>
                  <label>Stop</label>
                  <input class="form-control inviteDate inviteEndDate" type="date"/>
                  <div class="btn-group btn-group-justified" role="group" aria-label="...">
                     {{#if hasDates}}
                    <a href="{{a}}" class="btn addUserToSurvey">Invite User to participate</a>
                    {{/if}}
                    <a href="{{a}}" class="btn btn-warning cancelUser">Cancel</a>
                  </div>
              {{else}}
                {{#if getSurveys}}
                  {{! Selection of survey}}
                 <select class="invitationSurvey form-control">
                  <option value=''>Select a survey</option>
                  {{#each getSurveys}}
                   <option value='{{_id}}'>{{title}} - {{type}}</option>
                  {{/each}}
                 </select>
                 <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a href="{{a}}" class="btn btn-warning form-control cancelUser">Cancel</a>
                 </div>
               {{else}}
                 {{! No more surveys to add to user error}}
                 <h4>User is currently taking all available surveys</h4>
                 <a href="{{a}}" class="btn btn-warning cancelUser">Try Again</a>
               {{/if}}
              {{/if}}
             {{else}}
              {{! selecting a user  - this shows up if coming from /patients}}
              <select class="inviteUser form-group">
                  <option value="">Select a user</option>
                {{#each getUsers}}
                  <option value="{{_id}}">{{email}}</option>
                {{/each}}
              </select>
              {{#if getSurveyUsers}}
              {{! graph to show users currently take a survey - shown from /survey path}}
                <h4>Users currently taking this survey</h4>
                <table class="table">
                  <thead>
                    <tr>
                      <th>name</th>
                      <th>email</th>
                      <th>lastTaken</th>
                    </tr>
                   </thead>
                   <tbody> 
                  {{#each getSurveyUsers}}
                    <tr>
                      <td>{{name}}</td>
                      <td>{{email}}</td>
                      <td>{{lastHit}}</td>
                    </tr>
                  {{/each}}
                  </tbody>
                </table>
              {{/if}}
            {{/if}}
           {{/if}}
        </div>
    <a href="{{a}}"  class="btn btn-info cancelUser">Close</a>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

</template>