
<template name='expiredSurvey'>
	<div class="container-fluid">
		<div class="jumbotron">
			<h1>Survey is expired</h1>
		</div>
	</div>
</template>
<template name='completedSurvey'>
	<div class="container-fluid">
		<div class="jumbotron">
			<h1>Survey was submitted sucessfully.</h1>
		</div>
	</div>
</template>
<template name="surveyAnswers">
 	<div class="row">
		<div class="col-sm-6 col-md-6">
			 <div class="panel panel-group panel-transparent" data-toggle="collapse" id="accordion">
				{{#each getUserAnswers}}
				<div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a class="surveyAnswer collapsed" data-parent="#accordion" data-toggle=
				        "collapse" href="#collapse{{_id}}">{{title}}</a>
				      </h4>
				    </div>
				    <div class="panel-collapse collapse" id="collapse{{_id}}">
				      <div class="panel-body">
				        {{aType}}
				        {{! Display additonal info in here for the answer.. probaly 'answer is in use for?'}}
				      </div>
				    </div>
				 </div>
				{{/each}}
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			{{#unless getOneAnswer}}
				{{>quickForm template= "varsa" collection="VH.SurveyAnswers" id="newSurveyAnswers" type="insert" omitFields="owner,aValues"}}
				<a href="{{a}}" class="clearSelectedAnswer btn btn-info">New Answer</a>
			{{else}}
				{{>quickForm template= "varsa" collection="VH.SurveyAnswers" id="editSurveyAnswer" type="update" doc=getOneAnswer omitFields="owner,aValues.$.valueOrder"}}
			{{/unless}}
		</div>
      </div>
</template>
<template name='answerReference'>

</template>


<template name='surveyAccessDenied'>
	<div class="container-fluid">
		<div class="jumbotron">
			<h1>You are not permitted to access this page.</h1>
		</div>
	</div>
</template>
<template name="survey">
  {{! if is admin ?}}
{{>ModalCreateSurvey}}

{{! to do add if isProvider}}

{{>ModalAddInvitation}}
<div class="panel">
  <ul class="nav nav-tabs nav-tabs-simple">
    {{#if selectedSurvey}}
    <li>
      <a data-toggle="tab" href="#tabSurveys" class="clearSelectedSurvey"> {{{iFa "chevron-left"}}}</a>
    </li>
    <li class="active">
      <a data-toggle="tab" href="#tabSurveys">{{{iFa "wrench" getSurveyTitle}}}</a>
    </li>
    <li>
      <a data-toggle="tab" href="#tabResponses">{{{iFa "envelope-o" "Responses"}}}</a>
    </li>
    <li>
      <a href="/s/{{selectedSurvey}}"><i class="fa fa-list" data-toggle="tooltip" data-placement="top" title="Survey Preview Link"></i>&nbsp;Preview</a>
    </li>
    <li>
      <a id="show-modal" data-toggle="modal" data-target="#Modal_AddInvitation"><i class="fa fa-plus"></i>&nbsp;Invites</a>
    </li>
    {{else}}
    <li class="active">
      <a data-toggle="tab" href="#tabSurveys"><i class="fa fa-file-text"></i>&nbsp;Surveys</a>
    </li>
    <li>
      <a id="show-modal" data-toggle="modal" data-target="#Modal_CreateSurvey"><i class="fa fa-plus"></i> New Survey</a>
    </li>
    {{/if}} 
    {{#if isAdmin}}
    <!--
    <li>
      <a id="show-modal" data-toggle="modal" data-target="#Modal_ConnectFitnessDevice"><i class="fa fa-plus"></i> Connect Fitness Device</a>
    </li>    
    -->
    <li>
      <a href="/surveyCalculations"><i class="fa fa-list" data-toggle="tooltip" data-placement="top" title="Mange Survey Notifications"></i>&nbsp;Calculations</a>
    </li>
    <li>
      <a href="/surveyAnswers">Answers</a>
    </li> 
    {{/if}}
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tabSurveys">
      <div class="row">
    	
		<div class="col">
		{{#if selectedSurvey}}
  		{{>quickForm template= "varsa" collection="VH.Survey" id="surveyQuestions" omitFields="owner,organization,questions.$.order" type="update"  doc=getSurveyQuestions }}
		{{else}}
          <table class="table table-striped">
          <thead>
            <tr>
              <th>Provider</th>
              <th>Name</th>
              <th>Questions</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
          {{#each getUserSurveys}}
          <tr class="survey">
            <td>{{ownerName}} 
                    <!--
                    <a href="/surveyResponses/{{_id}}"><i class="btn btn-status btn-lg fa fa-line-chart" data-toggle="tooltip" data-placement="top" title="Responses"></i></a> --></td>
            <td><h5 class="pull-left"> {{title}} </h5></td>
            <td><h4 class="pull-right">({{getQuestionsCount}})<a href="/s/{{_id}}"><i class="btn btn-info btn-lg fa fa-list" data-toggle="tooltip" data-placement="top" title="Survey Preview Link"></i></a></h4> </td>
            <td>  {{#if templateType}} <strong> {{templateType}} template </strong>{{else}}  {{issueDate}} {{/if}}</td>

          </tr>
          {{/each}}
          </tbody>
          </table>
		{{/if}}
		</div>
      </div>
    </div>
    <div class="tab-pane" id="tabInvites">
      	{{#if selectedSurvey}}
       		{{>surveyInvite}}
       	{{/if}}
    </div>
    <div class="tab-pane" id="tabResponses">
    	{{>surveyResponsesTableView}}
	</div>
  </div>
</div>
</template>

<template name="surveyCalculations">
  <div class="panel">
    <div class="tab-content">
      <div class="row">
            
        <div class="col">
          {{#if listCalculations}}
           <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Survey Title </th>
                        <th>Creator</th>
                        <th>Types</th>
                      </tr>
                    </thead>
            <tbody>
            {{#each listCalculations}}
              <tr class="surveyCalc">
                <td>{{#if surveyTitle}}{{surveyTitle}}{{else}}{{_id}}{{/if}}</td>
                <td>{{#if ownerName}} {{ownerName}}{{/if}}</td>
                <td>
                    <ul>{{#each action}}
                      <li>{{this.type}} : {{this.receiver}} : {{this.calcType}} of values {{this.condition}} than {{this.condition_value}}</li>
                      {{/each}}
                     </ul> 
                </td>
              </tr>
            {{/each}}
            </tbody>
            </table>
          {{/if}}
        </div>
       </div>
      <div class="row">
        <div class="col">
        {{#unless selectedCalculation}}
            {{>quickForm template= "editSurveyCalc" collection="VH.SurveyCalc" id="newSurveyCalc" type="insert" omitFields="owner,organization"}}
          {{else}}
            {{>quickForm template= "editSurveyCalc" collection="VH.SurveyCalc" id="editSurveyCalc" type="update" doc=getSelectedCalc omitFields="owner,organization"}}
        {{/unless}}
        </div>
      </div>
    </div>
  </div>
</template>