

<template name="availableSurveysCards">
 <div class="panel panel-transparent">
    <div class="panel-heading">
      <h1 class="page-header bold">Available Surveys</h1>
    </div>
    <div class="panel-body">
      <div id="patients-list-wrap">
        <div class="row">
          {{#each getSurveys}}
          <div class="col-sm-6 col-lg-4">
            <div class="item share share-self" data-social="item">
              <div class="item-header clearfix">
                <h5>{{title}}</h5>
                <h6>
                  {{issueInterval}}
                </h6>
              </div>
              <div class="item-footer clearfix">
                <!-- <div class="condition">Depression</div> -->
                <ul class="actions">
                  <li>
                    <a href="#"><i class="fa fa-line-chart" data-toggle="tooltip" data-placement="top" title="Results"></i></a>
                  </li>
                  <li>
                    <a href="/t/{{_id}}/{{ currentUser._id }}"><i class="fa fa-list" data-toggle="tooltip" data-placement="top" title="Survey Link survey"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="More information"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div><!-- END PANEL -->

{{#each getInvites}}
{{_id}}
{{/each}}
</template>

<template name="surveyResponsesTableView">
	<table class="table">
		<thead>
			<tr>
				<th>user:provider</th><th>totalScore</th><th>timestamp</th>
			</tr>
		</thead>
		{{#each getSurveyResponses}}
			{{>surveyResponseItem}}
		{{/each}}
	</table>
	<div class="form-inline">
		<div class="form-group">
			{{!selectors to show hide fields}}
			<input class='f_id' type="checkbox" />&nbsp;<label>_id</label>
			<input class='f_owner' type="checkbox" />&nbsp;<label>user id</label>
			<input class='f_timestamp' type="checkbox" />&nbsp;<label>timestamp</label>
			<input class='f_surveyId' type="checkbox" />&nbsp;<label>surveyId</label>
			<input class='f_surveyResponse' type="checkbox" />&nbsp;<label>total</label>
		</div>
		<div class="form-group">
			<input class="form-control csvName" type="text" placeholder="filename" value="untitled.csv">
		</div>
		<a href="{{a}}" class="saveCsv btn btn-status">"Save CSV"</a>
	</div>
</template>
<template name="surveyResponseItem">
	<tr>
		<td>{{owner}}:{{providerId}}</td>
		<td>{{totalScore}}</td>
		<td>{{timestampF}}</td>
	</tr>
</template>

<template name="surveyResponses">
	{{#each getSurveys}}
		<h2>Responses for : {{title}}</h2>
	{{/each}}

	{{#if selectedSurvey}}
		{{#if getSurveyResponses}}
		<div class="panel panel-content">
		<table class="table table-hover has-actions">
          <thead>
            <tr>
              <th>Response<b class="pull-right">Total</b></th>
            </tr>
          </thead>
          <tbody>
			{{#each getSurveyResponses}}
			<tr>
				<td><small class='pull-left text-left'>Owner:{{owner}}  <br/>	{{timestamp}}</small><b class="pull-right">{{totalScore}}</b></td>
			</tr>
			<tr>
				<td>
					<ol>
						{{!expects an object but is given array value ... :()}}
						{{#each surveyResponseQ}}
							}
							<li>{{>surveyResponseField this}}
							</li>
						{{/each}}
					</ol>
				</td>
			</tr>
			{{/each}}
        	</tbody>
    	</table>
		</div>
		{{else}}
		<div class="panel panel-footer">
			<p>No responses to this survey</p>
		</div>
		{{/if}}
	{{/if}}
</template>
<template name="surveyResponseField">
	<!-- aghh how to generate index? -->
	<!-- show bankID if order = 1? -->
	<div class="text-left">
		{{question.q}}
	</div>
	<div id="d{{guid}}" style="float:left;clear:both;width:100%;">
		  <svg></svg>
	</div>
</template>

<template name="surveyTake">
<div class="container">
	{{#unless isPatient}}
		<div class="row">
		<div class="col-sm-12 text-center">
		<h1>{{surveyTitle}}</h1>
		</div>
		</div>
	{{/unless}}
	{{#each buildQuestions}}
		<div class="row">
			{{! if statement call specific to isRadio type}}
			<div class="form-group {{#if equals labelStyle 'row'}}col-sm-12 text-center{{else}}col-sm-3 pull-{{labelStyle}} {{/if}}"><h4>{{q}}</h4></div>
			{{#unless isPrompt}}
				<div class="form-group {{#if equals labelStyle 'row'}}col-sm-12{{else}}col-sm-9{{/if}}">
				{{#if equals answer.aType 'tags'}}
					{{#each answer.aValues}}
					<div class="col-sm-3 list-item"><input name="{{../bankId}}{{../order}}" value="{{valueLabel}}" type="checkbox">
						{{valueLabel}}
						{{#if equals valueLabel 'Other'}}
						<input name="{{../bankId}}{{../order}}other" type="text">
						{{/if}}
					</div>
					{{/each}}
				{{else}}
					{{#if equals answer.aType 'scale'}}
					<!-- probably make templates for each answer type figure out how to 
						dynamically load it
					-->
						{{#unless answer.isRadio}}
					
						<div class="row">
							{{#if answer.aValues}}
							<div class="row form-group">
								{{#each answer.aValues}}
								<div class="col-sm-{{../bsColSize}} text-center">{{valueLabel}}</div>
								{{/each}}
							</div>
							{{/if}}
							<div class="col-sm-12">
								<input type=range name="{{bankId}}{{order}}" min={{answer.mFirst}} value={{answer.mFirst}} max={{answer.mLast}} step=1>
							</div>
						</div>
						{{else}}
							<!-- only show label data if first question in bank
								 - to make it appear 'more grouped' -->
							<div class="col-sm-12 btn-group text-center" data-toggle="buttons">
							{{#each answer.aValues}}
								<label class="col-sm-{{../bsColSize}} btn btn-status text-center {{labelClass}}">{{valueLabel}}
									<input type="radio" name="{{../bankId}}{{../order}}" value={{valueOrder}}>
								</label>
							{{/each}}
							</div>
						{{/unless}}
					{{else}}
						{{! handle other bank types below}}
						{{#if equals order 1}}
							{{#if equals answer.aType 'wBankTags'}}
								{{#each answer.aValues}}
								<div class="row">
									<div class="col-md-4 form-group text-center"> {{valueLabel}}
										{{#if equals valueLabel 'Other'}}
										<input type="text" name="{{../bankId}}{{../order}}{{valueLabel}}other">
										{{/if}}
									</div>
									<div class="col-md-8 form-group">
										<input type="range" name="{{../bankId}}{{../order}}{{valueLabel}}" min={{../answer.mFirst}} value={{../answer.mFirst}} max={{../answer.mLast}} step=1>
									</div>
								</div>
								{{/each}}
							{{/if}}
						{{else}}
							{{#if equals answer.aType 'wBankTag'}}

							{{else}}
								{{#if equals answer.aType 'tag'}}
								<!-- probably should be moved elsewhere.. but probably going to be used the least..
									-->

								{{/if}}
							{{/if}}
						{{/if}}
					{{/if}}
				{{/if}}
				</div>
			{{/unless}}
	</div>
	{{/each}}
	{{! probably need to expand isPatient to also support isCircleOfCareMember }}
	{{#if isPatient}}
	<a href={{a}} class="btn btn-primary submitSurvey">Send</a>
	{{/if}}
</div>
</template>