<template name='surveyInvite'>
     <div class="panel panel-transparent">
				    {{panel_heading "Surveys Invites" "Prompt users to take this survey."}}
				</div>
	{{! if survey is selected session variable 'selectedSurvey' is used on insert to populate surveyID}}
	{{#unless selectedSurvey}}
		{{! this view probably wont be seen.. but simply shows the survey ID}}
		{{! quickForm collection="VH.SurveyInvite" id="surveyInvite" type="insert" omitFields="owner,responses" template="varsa"}}
	{{else}}

		{{! quickForm collection="VH.SurveyInvite" id="surveyInvite" type="insert" omitFields="owner,surveyId,responses,users.$.lastTaken,users.$.lastHit,users.$.status" template="varsa"}}
	{{/unless}}

{{! consider making this another tabbed interface ... use a different template to show this}}
{{#each getInvites}}
	{{#each this.users}}
		<a href="/sTxt/{{../_id}}/{{userId}}">Invite Link</a>
	{{/each}}
	<div class="panel panel-header text-center">{{this.dateIssue}}</div>
	{{!quickForm collection="VH.SurveyInvite" id=_id type="update" omitFields="dateIssue,responses,owner,surveyId," template="surveyInvite" doc=this}}
	

{{/each}}


</template>
